# Dump 用: clang-format --dump-config
BasedOnStyle: LLVM
Language: Cpp
Cpp11BracedListStyle: false
IndentWidth: 4
UseTab: Never
ColumnLimit: 128
PointerAlignment: Right
IndentCaseLabels: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterCaseLabel: false
  AfterStruct: false
  BeforeElse: false

Macros: [ "VA_ARGS" ]

AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false